<% tool_profile = tool.tool_profile -%>

<div id="support-tab">
	<div id="support" class="item">
		<% unless tool_profile.support.blank? -%>
			<h3>UVa Support</h3>
			<%=rc tool_profile.support %>
		<% end -%>

		<% unless tool_profile.developer_resources.blank? -%>
			<h3>Developer Resources</h3>
			<%=rc tool_profile.developer_resources %>
		<% end -%>
		
		<% unless tool_profile.mailing_list.blank? -%>
			<h3>Mailing List</h3>
			<%=rc tool_profile.mailing_list %>
		<% end -%>
		
		<% unless tool_profile.discussion_forums.blank? -%>
			<h3>Discussion Forums / User Groups</h3>
			<%=rc tool_profile.discussion_forums %>
		<% end -%>
		
		<% unless tool_profile.tutorials.blank? -%>
			<h3>Tutorials/Training</h3>
			<%=rc tool_profile.tutorials %>
		<% end -%>
		
		<% unless tool_profile.tips.blank? -%>
			<h3>Tips</h3>
			<%=rc tool_profile.tips %>
		<% end -%>		

		<% unless tool_profile.more_information.blank? -%>
			<h3>More Information</h3>
			<%=rc tool_profile.more_information %>
		<% end -%>		
		
	</div>
</div>