<script>
$(document).ready(function() {
	$("#update_button").click(function () { $("#popup_dialog").dialog("close"); $("#popup_dialog").dialog("destroy");});
 
//<![CDATA[
   setTextareaToTinyMCE('translated_source_title');
 //]]>
});
</script>

<% if @source.resource_type == 'Review' %>
<%   resource = Review.find(@source.resource_id)%>
<%   translated_path = tool_review_source_translated_source_path(@tool, resource, @source, @translated_source) %>
<%   hash_destroy_path = hash_for_tool_review_source_translated_source_path(:action => 'destroy') %>
<%   cancel_path = tool_review_sources_path(@tool, resource) %>
<%   div_updated = 'reviewsources_div' %>
<% else %>
<%   if @source.resource_type == 'UsageScenario' %>
<%     resource = UsageScenario.find(@source.resource_id) %>
<%     translated_path = tool_usage_scenario_source_translated_source_path(@tool, resource, @source ,@translated_source) %>
<%     hash_destroy_path = hash_for_tool_usage_scenario_source_translated_source_path(:action => 'destroy') %>
<%     cancel_path = tool_usage_scenario_sources_path(@tool, resource) %>
<%     div_updated = 'usagescenariosources_div' %>
<%   else %>
<%     resource = Tool.find(@source.resource_id) %>
<%     translated_path = tool_source_translated_source_path(@tool,@source, @translated_source) %>
<%     hash_destroy_path = hash_for_tool_source_translated_source_path(:action => 'destroy') %>
<%     cancel_path = tool_sources_path(@tool) %>
<%     div_updated = 'toolsources_div' %>
<%   end %>
<% end %>
<h3><%= "Editing Translation for <em>#{h('MMS #'"#{@source.mms_id}"', ' + formated_mms_pages(@source))}</em> in #{h(@translated_source.language.title)}".html_safe %></h3>
<br/>
<%= error_messages_for :translated_source %>

<%=   form_for(:translated_source, :url => translated_path, :before => "tinyMCE.triggerSave();", :html => { :method => :put}, :remote => true) do |f| %>


  <p>
    <b>Translation</b><br />
<%= f.text_area :title, :rows => 16, :cols => 50 %>
  </p>
<%= f.hidden_field :source_id %>
<%= f.hidden_field :creator_id %>
<%= f.hidden_field :language_id %>
  <p>
<% if @source.resource_type == 'Review' %>
  <%= link_to 'Add new Author', add_author_tool_review_source_translated_sources_path(@tool, resource, @source), :position => 'before', :remote => true, :title=>'Add new Author' %>
<% else %>
<%   if @source.resource_type == 'UsageScenario' %>
  <%= link_to 'Add new Author', add_author_tool_usage_scenario_source_translated_sources_path(@tool, resource, @source), :position => 'before', :remote => true, :title=>'Add new Author' %>
<%   else %>
  <%= link_to 'Add new Author', add_author_tool_source_translated_sources_path(@tool,@source), :position => 'before', :remote => true, :title=>'Add new Author' %>
<%   end %>
<% end %>
  </p>
  <div id="authors_div">
<% if !@translated_source.authors.empty? %>
<%     for author in @translated_source.authors %>
     <%=    render :partial => 'authors_selector', :locals => {:selected => author.id} %>   
<%   end
   end %>
  </div>  


  <div id="update_div">  </div> 
	<%= submit_tag 'Update Translation',  :id => "update_button", :before => "tinyMCE.triggerSave(); unsetTextareaToTinyMCE('translated_source_title');" %>


<% end %>

<p>
<% if !params[:review_id].nil? %>
<%=  	link_to 'Delete', tool_review_source_translated_source_path(@tool, resource, @source, @translated_source, :authenticity_token => form_authenticity_token),  :confirm => 'Are you sure?', :method => :delete, :onclick => "unsetTextareaToTinyMCE('translated_source_title');",  :remote => true %>
<% else %>
<%   if !params[:usage_scenario_id].nil? %>
<%=  	link_to 'Delete', tool_usage_scenario_source_translated_source_path(@tool, resource, @source ,@translated_source, :authenticity_token => form_authenticity_token), :confirm => 'Are you sure?', :method => :delete, :onclick => "unsetTextareaToTinyMCE('translated_source_title'); ",  :remote => true %>
<%   else %>
<%=  	link_to 'Delete', tool_source_translated_source_path(@tool,@source, @translated_source, :authenticity_token => form_authenticity_token),  :confirm => 'Are you sure?', :method => :delete, :onclick => "unsetTextareaToTinyMCE('translated_source_title'); ",  :remote => true %> <!-- | -->
<%   end %>
<% end %>


</p>