<script>
$(document).ready(function() {
	$("#update_button").click(function () { $("#popup_dialog").dialog("close"); $("#popup_dialog").dialog("destroy");});
 
//<![CDATA[
   setTextareaToTinyMCE('translated_source_title');
 //]]>
});
</script>

<% if @source.resource_type == 'Review' %>
<%   resource = Review.find(@source.resource_id)%>
<%   translated_path = tool_review_source_translated_sources_path(@tool, resource, @source) %>
<%   cancel_path = tool_review_sources_path(@tool, resource) %>
<%   div_updated = 'reviewsources_div' %>
<% else %>
<%   if @source.resource_type == 'UsageScenario' %>
<%     resource = UsageScenario.find(@source.resource_id) %>
<%     translated_path = tool_usage_scenario_source_translated_sources_path(@tool, resource, @source) %>
<%     cancel_path = tool_usage_scenario_sources_path(@tool, resource) %>
<%     div_updated = 'usagescenariosources_div' %>
<%   else %>
<%     resource = Tool.find(@source.resource_id) %>
<%     translated_path = tool_source_translated_sources_path(resource, @source) %>
<%     cancel_path = tool_sources_path(@tool) %>
<%     div_updated = 'toolsources_div' %>
<%   end %>
<% end %>
<h3><%= ('Translation for '"<em>#{h('MMS #'"#{@source.mms_id}"', ' + formated_mms_pages(@source))}</em>".html_safe) %></h3>
<%= error_messages_for :translated_source %>
<%=   form_for(:translated_source, :url => translated_path , :before => "tinyMCE.triggerSave();", :remote => true) do |f| %>

  <p>
    <b>Language of Translation</b><br />
<%= f.select(:language_id, @languages.collect {|l| [ h(l.title), l.id ] }, { :include_blank => false }) %>
  </p>
  <p>
    <b>Translation</b><br />
<%= f.text_area :title, :rows => 16, :cols => 50 %>
  </p>
  <p>
<% if @source.resource_type == 'Review' %>
  <%= link_to 'Add new Author', add_author_tool_review_source_translated_sources_path(@tool, resource, @source), :position => 'before', :remote => true, :title=>'Add new Author' %>
<% else %>
<%   if @source.resource_type == 'UsageScenario' %>
  <%= link_to 'Add new Author', add_author_tool_usage_scenario_source_translated_sources_path(@tool, resource, @source), :position => 'before', :remote => true, :title=>'Add new Author' %>
<%   else %>
  <%= link_to 'Add new Author', add_author_tool_source_translated_sources_path(@tool,@source), :position => 'before', :remote => true, :title=>'Add new Author' %>
<%   end %>
<% end %>
  </p>
  <div id="authors_div">
<% if @translated_source.authors.empty? && !current_user.person.nil? %>
<%=  render :partial => 'authors_selector', :locals => {:selected => current_user.id} %>
<% else
     for author in @translated_source.authors %>
<%=    render :partial => 'authors_selector', :locals => {:selected => author.id} %>
<%   end
   end %>
  </div>  
  <div id="update_div">  
  </div>

  <p>
	<%= submit_tag 'Create Translation',  :id => "update_button", :before => "tinyMCE.triggerSave(); unsetTextareaToTinyMCE('translated_source_title');" %>
  </p>

<% end %>
<p>
</p>