<h1>Listing translated_sources</h1>

<table>
  <tr>
    <th>Title</th>
  </tr>

<% @translated_sources.each do |translated_source| %>
  <tr>
    <td><%=h translated_source.title %></td>
    <td><%= link_to 'Show', translated_source %></td>
    <td><%= link_to 'Edit', edit_translated_source_path(translated_source) %></td>
    <td><%= link_to 'Destroy', translated_source, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New translated_source', new_translated_source_path %>