<script>
$(document).ready(function() {
	$("#update_button").click(function () { $("#popup_dialog").dialog("close"); $("#popup_dialog").dialog("destroy");});
});
</script>
<% @tool = tool %>
<% if !params[:review_id].nil? %>
<%   @review = review %>
<%   source_path = tool_review_source_path(@tool, @review,@source) %>
<%   source_destroy_path = tool_review_source_path(@tool, @review,@source,:authenticity_token => form_authenticity_token) %>
<%   cancel_path = tool_review_sources_path(@tool, @review) %>
<%   hash_destroy_path = hash_for_tool_review_source_path(:action => 'destroy') %>
<%   div_updated = 'reviewsources_div' %>
     <h3><%= 'Editing Source for '"<em>#{h(@review.title)}</em>".html_safe %></h3>
<% else %>
<%   if !params[:usage_scenario_id].nil? %>
<%     @usage_scenario = usage_scenario %>
<%     source_path = tool_usage_scenario_source_path(@tool, @usage_scenario,@source) %>
<%     source_destroy_path = tool_usage_scenario_source_path(@tool, @usage_scenario,@source,:authenticity_token => form_authenticity_token) %>
<%     cancel_path = tool_usage_scenario_sources_path(@tool, @usage_scenario) %>
<%     hash_destroy_path = hash_for_tool_usage_scenario_source_path(:action => 'destroy') %>
<%     div_updated = 'usagescenariosources_div' %>
       <h3><%= 'Editing Source for '"<em>#{h(@usage_scenario.title)}</em>".html_safe %></h3>
<%   else %>
<%     source_path = tool_source_path(@tool,@source) %>
<%     source_destroy_path = tool_source_path(@tool,@source,:authenticity_token => form_authenticity_token) %>
<%     cancel_path = tool_sources_path(@tool) %>
<%     hash_destroy_path = hash_for_tool_source_path(:action => 'destroy') %>
<%     div_updated = 'toolsources_div' %>
       <h3><%= 'Editing Source for '"<em>#{h(@tool.name)}</em>".html_safe %></h3>
<%   end %>
<% end %>

<%= error_messages_for :source %>
<%=   form_for(:source, :url => source_path, :before => "tinyMCE.triggerSave();", :remote => true, :html => { :method => :put}) do |f| %>

<%=  render :partial => 'form', :locals => {:f => f} %>
  <p>
	
	<%= submit_tag 'Update Source',  :id => "update_button", :before => "tinyMCE.triggerSave(); unsetTextareaToTinyMCE('source_passage'); tinyMCE.execCommand('mceRemoveControl', true, 'source_note');" %>
  </p>
<% end %>
<p>
<% if !params[:review_id].nil? %>
<%=  	link_to 'Delete', tool_review_source_path(@tool, @review,@source,:authenticity_token => form_authenticity_token),  :confirm => 'Are you sure?', :method => :delete, :onclick => "unsetTextareaToTinyMCE('source_passage'); tinyMCE.execCommand('mceRemoveControl', true, 'source_note');",  :remote => true %>
<% else %>
<%   if !params[:usage_scenario_id].nil? %>
<%=  	link_to 'Delete', tool_usage_scenario_source_path(@tool, @usage_scenario,@source, :authenticity_token => form_authenticity_token),  :confirm => 'Are you sure?', :method => :delete, :onclick => "unsetTextareaToTinyMCE('source_passage'); tinyMCE.execCommand('mceRemoveControl', true, 'source_note');",  :remote => true %>
<%   else %>
<%=  	link_to 'Delete', tool_source_path(@tool,@source,:authenticity_token => form_authenticity_token),  :confirm => 'Are you sure?', :method => :delete, :onclick => "unsetTextareaToTinyMCE('source_passage'); tinyMCE.execCommand('mceRemoveControl', true, 'source_note');",  :remote => true %> <!-- | -->
<%   end %>
<% end %>

</p>