
<% if s.resource_type == 'Review' %>
<%   edit_path = edit_tool_review_source_path(@tool, resource, s) %>
<%   contract_path = contract_tool_review_source_path(@tool, resource, s) %>
<%   hash_path = hash_for_edit_tool_review_source_path %>
<%   div_updated = 'reviewsources_div' %>
<%   new_translated_path = new_tool_review_source_translated_source_path(@tool, resource, s) %>
<%   hash_translated_path = hash_for_new_tool_review_source_translated_source_path  %>
<% else %>
<%   if s.resource_type == 'UsageScenario' %>
<%     edit_path = edit_tool_usage_scenario_source_path(@tool, resource, s) %>
<%     contract_path = contract_tool_usage_scenario_source_path(@tool, resource, s) %>
<%     hash_path = hash_for_edit_tool_usage_scenario_source_path %>
<%     div_updated = 'usagescenariosources_div' %>
<%     new_translated_path = new_tool_usage_scenario_source_translated_source_path(@tool, resource, s) %>
<%     hash_translated_path = hash_for_new_tool_usage_scenario_source_translated_source_path  %>
<%   else %>  
<%     edit_path = edit_tool_source_path(@tool, s) %>
<%     contract_path = contract_tool_source_path(@tool, s) %>
<%     hash_path = hash_for_edit_tool_source_path %>
<%     div_updated = 'toolsources_div' %>
<%     new_translated_path = new_tool_source_translated_source_path(@tool, s) %>
<%     hash_translated_path = hash_for_new_tool_source_translated_source_path  %>
<%   end %>
<% end %>

	<p>
	<%=   link_to '.', contract_path, :class => 'descriptionminus_icon', :remote => true  %> 
	
	<%=   link_to 'MMS #'"#{s.mms_id}"', ' + formated_mms_pages(s), edit_path, :class => 'ui_definition_dialog', :onclick => "unsetTextareaToTinyMCE('source_passage'); tinyMCE.execCommand('mceRemoveControl', true, 'source_note');", :remote => true  %> 
		
  	</p>

    <div class='padded'>
		<p>
		  <% if !s.passage.blank? %>	
			<b>Passage:</b>
	  		<%= s.passage.html_safe %>
	      <% end %>
		</p>
		<p>
		  <% if !s.note.blank? %>
	  		<b>Note:</b>
	  		<%= s.note.html_safe %>
	      <% end %>
		</p>

		<p>
		  <% if !s.translated_sources.empty? %>
		    <b>Source Translations:</b>
			<div class='padded'>
		    <% if s.resource_type == 'Review' %> 
				<%= ( s.translated_sources.collect { |t| "#{t.title} (#{ link_to("<i>#{t.language.title}#{"#{", from #{join_with_and(t.authors.collect{|a| a.name})}" if !t.authors.empty?}"}</i>".html_safe, edit_tool_review_source_translated_source_path(@tool,resource,s,t), :class => 'ui_definition_dialog', :onclick => "unsetTextareaToTinyMCE('translated_source_title');", :remote => true,  :method => :get)  })" }).join(', ').html_safe %>	
		    <% else %>
		    <%   if s.resource_type == 'UsageScenario' %>
					<%= ( s.translated_sources.collect { |t| "#{t.title} (#{ link_to("<i>#{t.language.title}#{"#{", from #{join_with_and(t.authors.collect{|a| a.name})}" if !t.authors.empty?}"}</i>".html_safe,  edit_tool_usage_scenario_source_translated_source_path(@tool,resource,s,t), :class => 'ui_definition_dialog', :onclick => "unsetTextareaToTinyMCE('translated_source_title');", :remote => true, :method => :get)  })" }).join(', ').html_safe %>	
			<%   else %>
				<%= ( s.translated_sources.collect { |t| "#{t.title} (#{ link_to("<i>#{t.language.title}#{"#{", from #{join_with_and(t.authors.collect{|a| a.name})}" if !t.authors.empty?}"}</i>".html_safe, edit_tool_source_translated_source_path(@tool,s, t), :class => 'ui_definition_dialog', :onclick => "unsetTextareaToTinyMCE('translated_source_title');", :remote => true, :method => :get)  })" }).join(', ').html_safe %>	
			<%   end%>	
		    <% end %>
		    </div>
		  <% end %>
		</p>
		<p>
		  <%= link_to 'add Source Translation', new_translated_path, :class => 'ui_definition_dialog',:onclick => "unsetTextareaToTinyMCE('translated_source_title');",  :remote => true  %>
		</p>
	</div>	