<script>
$(document).ready(function() {
	unsetTextareaToTinyMCE('review_content');
	
	$("#update_button").click(function () { $("#popup_dialog").dialog("close"); $("#popup_dialog").dialog("destroy");});
	
});
</script>
<%# @tool = tool 
@review = review
@authors = authors
%>
<% @tool = tool 
@source = source %>
<% if !params[:review_id].nil? %>
<%   @path = tool_review_sources_path(@tool, @review) %>
<%   div_updated = 'reviewsources_div' %>
     <h3><%= 'Source for '"<em>#{h(@review.title)}</em>".html_safe %></h3>
<% else %>
<%   if !params[:usage_scenario_id].nil? %>
<%     @path = tool_usage_scenario_sources_path(@tool, @usage_scenario) %>
<%     div_updated = 'usagescenariosources_div' %>
       <h3><%= 'Source for '"<em>#{h(@usage_scenario.title)}</em>".html_safe %></h3>
<%   else %>
<%     @path = tool_sources_path(@tool) %>
<%     div_updated = 'toolsources_div' %>
       <h3><%= 'Source for '"<em>#{h(@tool.name)}</em>".html_safe %></h3>
<%   end %>
<% end %>
<%= error_messages_for :source %>
<%=   form_for(:source, :url => @path , :before => "tinyMCE.triggerSave();", :remote => true) do |f| %>

<%=  render :partial => 'sources/form', :locals => {:f => f} %>

  <p>
	<%= submit_tag 'Create Source',  :id => "update_button", :before => "tinyMCE.triggerSave(); unsetTextareaToTinyMCE('source_passage');" %>
  </p>

<% end %>
<p>
</p>