<style >
	.blacklist-table { padding: 0;
	  margin: 0;
	  /*font-family: "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;*/
	  font-size: 0.9em;
	}

</style>

<div id="main">	
	<div id="main-content">

<h1>Listing blacklists</h1>

<table class="blacklist-table">
  <tr>
    <th align="left">Email</th>
    <th>Attempts</th>
    <th>Last attempt</th>
  </tr>

<% @blacklists.each do |blacklist| %>
  <tr>
    <td width="40%"><%=h blacklist.email %></td>
    <td align="right"><%=h blacklist.attempts %></td>
    <td width="20%" align="right"><%=h blacklist.last_attempt %></td>
    <td><%= link_to 'Show', blacklist %></td>
    <td><%= link_to 'Edit', edit_blacklist_path(blacklist) %></td>
    <td><%= link_to 'Destroy', blacklist, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

	</div>
</div>