


<div id="popup_dialog">
</div>

<div id="main">
<div id="secondary-nav" class="yui-navset">
  <ul class="yui-nav">
    <%= tab_tag( :profile, 'Profile', @selected_tab ) %>
    <%= tab_tag( :activities, 'Activities', @selected_tab ) %>
    <%= tab_tag( :interests, 'Interests', @selected_tab ) %>
    <%= tab_tag( :relationships, 'Relationships', @selected_tab ) %>
    <%= tab_tag( :works, 'Works', @selected_tab ) %>
    <%= tab_tag( :background, 'Background', @selected_tab ) %>
    <%= tab_tag( :contact, 'Contact', @selected_tab ) %>
    <%= tab_tag(:account, 'Account', @selected_tab) %>
  </ul>
  <div id="main-content"  class="narrow">
    <%= form_for( :person_profile, @person.person_profile, update_profile_organization_path(@person.id) ) do |f| -%>
      <%= hidden_field_tag( :tab, @selected_tab ) %>
      <h2>Updating Profile </h2>
	  <h2 id="subject"><input name="person_profile[person_attrs][name]" type="text" value="<%= @person.name %>"/></h2>
		<h3>My Organizations</h3>
			
      	<p><%= link_to 'Find Organizations', available_organizations_organizations_path(:inline=>true), :remote => true %></p>


	    <div class="gallery-button update"><%= f.submit "Update" %><%= link_to 'Cancel', person_path(@person, :tab => @selected_tab), :id => 'cancel-button' %></div>
    
	<% end -%> <!-- END FORM -->
  </div> <!--END MAIN-CONTENT-->
</div> <!-- END SECONDARY NAV -->
</div><!--END MAIN-->