<script type="text/javascript">
  var TARGET_PROFILE_BASE_URL = '<%= edit_person_path(@person) %>';

  jQuery(document).ready(function() {
    var tabView = new YAHOO.widget.TabView('secondary-nav');
    tabView.addListener( 'click', updateEditProfileURL );
  });
</script>

<div id="main">
  <div id="secondary-nav" class="yui-navset">

    <ul class="yui-nav">
      <%= tab_tag( :profile, 'Profile', @selected_tab ) %>
      <%= tab_tag( :activities, 'Activities', @selected_tab ) unless @person.person_profile.activities_blank? %>
      <%= tab_tag( :interests, 'Interests', @selected_tab ) unless @person.person_profile.interests_blank? %>
      <%= tab_tag( :relationships, 'Relationships', @selected_tab ) %>
      <%= tab_tag( :works, 'Works', @selected_tab ) unless @person.person_profile.works_blank? %>
      <%= tab_tag( :background, 'Background', @selected_tab ) unless @person.person_profile.background_blank? %>
      <%= tab_tag( :contact, 'Contact', @selected_tab ) unless @person.person_profile.contact_blank? %>
    </ul>

    <div id="main-content" class="narrow">
      <h2 id="subject"><%= h(@person.name) %> / <span class="page-type">Profile <% if @allowed_to_edit -%><%= link_to '(Edit Profile)', edit_person_path(@person, :tab => @selected_tab), { :id => 'edit-profile-link' } %><% end -%></span></h2>
      <h3 id="title"><%= h(@person.person_profile.title) %> 
			<%= @person.person_profile.title.blank? ? "" : "|" %> <%= h(@person.person_profile.professional_profile) %>
        <% unless @person.person_profile.professional_profiles.empty? -%>
                                  ,
          <% last_profile = @person.person_profile.professional_profiles.last -%>
          <% for professional_profile in @person.person_profile.professional_profiles -%>
            <%= h(professional_profile.name) %><%= professional_profile == last_profile ? "" : "," %>
          <% end -%>
        <% end -%>
      </h3>
      <% unless @person.person_profile.home_page.blank? -%>
        <h3 id="uri">Home Page: <a href="<%= @person.person_profile.home_page %>"><%= h(@person.person_profile.home_page) %></a></h3>
      <% end -%>

      <% if @allowed_to_edit -%>
        <h4 id="account-type" >Account Type: <b><%= h( @person.user.access_level ) %></b>
          <% if !full_access? and !has_requested_access? -%>
                                    (<%= link_to 'request full access', url_for( :action => 'request_full', :id => @person ) %>)
          <% elsif has_requested_access? -%>
                                (Full Access Requested)
          <% end -%>
        </h4>
      <% end -%>
		
	  <% if admin? or content_author?(@person) %>
	    <% if @person.user.private_profile == true %>
	      <h4 id="private-profile" >Private Profile: <b><%= h( @person.user.private_profile ) %></b>
		    (<%= link_to 'turn public', url_for( :action => 'turn_public', :id => @person ) %>)
		  </h4>
		<% end -%>
	  <% end -%>
      <div class="yui-content">

<%#
This logic is duplicated above! Would be better if one logical block took care of both the tabs
and their contents.

FUTURE: Ensure that this logic isn't duplicated in a similarly bad way on other pages.
%>
        <!-- Render only the tabs which have information filled out in them.  -->
        <%= render :partial => 'show_profile_tab' %>
        <%= render :partial => 'show_activities_tab' 	unless @person.person_profile.activities_blank? %>
        <%= render :partial => 'show_interests_tab' 	unless @person.person_profile.interests_blank? %>
        <%= render :partial => 'show_relations_tab' %>
        <%= render :partial => 'show_works_tab' 			unless @person.person_profile.works_blank? %>
        <%= render :partial => 'show_background_tab' 	unless @person.person_profile.background_blank? %>
        <%= render :partial => 'show_contact_tab' 		unless @person.person_profile.contact_blank? %>
      </div> <!-- END YUI CONTENT -->
    </div> <!--END CONTENT-->
  </div> <!-- END SECONDARY NAV -->

  <div id="media">
    <div id="carousel">

      <%= image_tag(@person.image_src, :id => "main-img", :alt => h(@person.person_profile.first_name)) %>

      <% # the /common/image_carousel partial closes this #carousel div %>
      <%= render :partial => '/common/image_carousel' %>
    </div><!--END CAROUSEL-->

    <%= render :partial => '/common/relationships' %>
  </div><!--END MEDIA-->

</div><!--END MAIN-->