<div id="main">
  <div id="main-content" class="main-narrow">
	<h3>Forgot your Password?</h3>
	<div id="forgot-password">
		<%= error_messages_for :user %>
	  <p>Please enter your email address used to subscribe to this application.</p>

		<%= form_for :user do |f| -%>
			<table>			
			<tr><td><label for="email">E-mail Address:</label></td><td><b><%= f.text_field :email %></b></td></tr>			
			</table>
			<p><h4 id="login-error"><%= flash[:notice] %></h4></p>
			<p class="button-to"><%= submit_tag 'Submit' %></p>
		<% end -%>

	</div>
  </div>
</div>



