<div id="main">
  <div id="main-content" class="main-narrow">
	<h3>Reset Password</h3>
	<div class="error-messages">
		<%= error_messages_for :user %>
	</div>
	<br/>
	<p>Pick a new password for <%= @user.email %></p>

	<div id="form-wrapper">
		<%= form_for :user do |f| -%>
			<table>			
			<tr><td><label for="password">Password:</label></td><td><%= f.password_field :password %></td></tr>
			<tr><td><label for="password_confirmation">Confirm Password:</label></td><td><%= f.password_field :password_confirmation %></td></tr>		
			</table>
			
			<p class="button-to"><%= submit_tag 'Submit' %></p>
		<% end -%>
	</div>
  </div>
</div>



