<!--INTRO-->
<div id="intro" class="module">
	<p>SHANTI promotes innovation at the University of Virginia through the use of advanced technologies in research, teaching, publication and engagement. Read about how our UVa OM initiative is transforming the University's digital ecology...<%= link_to 'Read more', '/wordpress/?page_id=414',  { :title => "UVa OM initiative" } %></p>
</div>
<!--FEATURE LINKS-->
<div id="side-feature-links" class="module">
  <h2>Featured Programs</h2>
	<h3><%= link_to 'UVa Community Tools', '/wordpress/?page_id=116',  { :title => "UVa Community Tools" } %></h3>
	<p>Digital technologies which are powerful, easy to use, reliable, interoperable, and suited for academic use...<%= link_to 'Read more', '/wordpress/?page_id=116',  { :title => "SHANTI Community Tools" } %></p>
	<h3><%= link_to  'SHANTI Consultations', '/wordpress/?page_id=1147' ,{ :title => 'SHANTI Consultations'} %></h3>
	<p>Visits to your office or class or group to help discover sustainable strategies for achieving your goals...<%= link_to  'Read more', '/wordpress/?page_id=1147' ,{ :title => 'SHANTI Consultations'} %></p>
	<h3><%= link_to 'UVa Knowledge Base', 'https://wiki.shanti.virginia.edu/x/o4G',{ :title => 'UVa Knowledge Base'} %></h3>
	<p>Instructions, models, and tips for using digital technologies in research, teaching, and engagement at UVa...<%= link_to 'Read more', 'https://wiki.shanti.virginia.edu/x/o4G',{ :title => 'UVa Knowledge Base'} %></p>
	<h3><%= link_to 'SHANTI Networking', '/wordpress/?page_id=1773',{ :title => 'SHANTI Social Networking Portal'} %></h3>
	<p>This website portal with its profiling and networking facilities for UVa people, projects, and organizations...<%= link_to 'Read more', '/wordpress/?page_id=1773',{ :title => 'SHANTI Social Networking Portal'} %></p>
	<h3><%= link_to  'Curricular Activities', '/wordpress/?page_id=1612' ,{ :title => 'Curricular Activities'} %></h3>
	<p>Courses to broaden student understanding of digital technology...<%= link_to  'Read more', '/wordpress/?page_id=1612' ,{ :title => 'Curricular Activities'} %></p>
</div>

<div class="wp-btn clearfloat">
	  <p><%= link_to content_tag( :span,'Subscribe to SHANTI Newsletter'), '/wordpress/?page_id=400',  { :title => "Subscribe to SHANTI Newsletter" } %></p>
</div>