<script>
$(".joinOrganization").on("click", function(event){

    var join_url="<%= url_for(:action=>'create_suborganization',:id=>nil) %>";

      var el = $(this);
      var item_id = el.attr('title');
alert('join');
      //var url = join_url + '/' + item_id + '?authenticity_token=' + '<%= form_authenticity_token %>';
	  var url = join_url + '/' + '<%= @project.id %>' + '?authenticity_token=' + '<%= form_authenticity_token %>' + '&entity_id=' +item_id;

	  $.post(url);
	  $("#popup_dialog").dialog("destroy");
      self.parent.successfullyJoined('organization', item_id);
      return false;


});
</script>

<script>
$(".pagination a").on("click", function(event){

        $.get(this.href, null, null, 'script');
        return false;


});
</script>


<div id="main">

  <%= render :partial => '/common/sort_tabs_ui', :locals => { :url => new_suborganization_project_path(:inline=>params[:inline]), :sort_order => @sort_order } %>

  <div id="main-content">
    <% i = 1 %>
    <% for organization in @organizations -%>

      <% # don't display the project if it's in the "find projects" popup view and the user already belongs to it -%>
      <% next if params[:inline] and !logged_in? %>
      <% next if params[:inline] and @project.organizations.include?(organization) -%>

      <% alt = ((i % 2) == 0) -%>

      <div class="profile-block-wrapper <%= "alt" if alt %>">
        <div class="profile-block">
          <% # if the view is NOT in a window ("Thickbox") -%>
          <% unless params[:inline] %>

            <%= link_to(image_tag(organization.thumb_src),  organization, :class => "profile-thm") %>

            <div class="profile-block-main">
              <h3><%= link_to organization.name.s, organization %></h3>
              <div class="date"><%= simple_date(organization.updated_at) %></div>
            </div>
            <% # ... else the view is in a popup window ("Thickbox") set from ?inline=true. In this view, the links displayed will load content into the iframe unless intercepted by javascript. -%>
          <% else %>

            <%= image_tag(organization.thumb_src, :class => "profile-thm") %>

            <div class="profile-block-main">	
              <h3><%= organization.name.s %></h3>
              <div class="right">
                <% if full_access? and !full_access_organization_member?(@organization)  and !private_user?-%>
                  <% # javascript intercepts this click -%>
                  <%= button_to( "Join this Organization", url_for( :action => 'create_suborganization', :id =>@project.id), :class=>'joinOrganization', :title=>organization.id ) %>
                <% end -%>

              </div>
            </div>
          <% end %>
        </div>
      </div><!--END PROFILE-BLOCK-WRAPPER-->
      <% i = i + 1 -%>
    <% end -%>

    <% if params[:inline] and (@organizations - @project.organizations).blank? -%>
	  <h4>No organizations to join</h4>
    <% end %>


    <%= will_paginate @organizations %>
  </div><!--END CONTENT-->

</div><!--END MAIN-->