<script type="text/javascript"> 
	var TARGET_PROFILE_BASE_URL = '<%= project_path(@project) %>';
	// init this page
	jQuery(document).ready(function() {
		var tabView = new YAHOO.widget.TabView('secondary-nav');
		tabView.addListener( 'click', updateShowProfileURL );	
		
		$(".memberRemove").on("click", function(event){
			//alert('member remove');
			removeAssociationHandler('member', $(this));
			return false;
		});
		$(".projectRemove").on("click", function(event){
		    removeAssociationHandler('project', $(this));
			return false;
		});
	});
	
	
  function successfullyUpdatedPicture(){
    $('<p class="image_loading_text">LOADING NEW IMAGE...</p>').insertAfter('#main-img');
    // Fade out previous image
    $('#main-img').fadeOut();
    // Grab the image url from the person's JSON and put it in the carousel, fading in
    $.getJSON('<%= project_path(@project) %>.json', function(data){
      $('.image_loading_text').hide();
      $('#main-img').attr('src', data['image']);
      $('#main-img').fadeIn();
    });
  };
</script>



	
<div id="popup_dialog">
</div>


<div id="main">
	<div id="secondary-nav" class="yui-navset">
		<ul class="yui-nav">
			<%= tab_tag( :profile, 'Profile', @selected_tab ) %>
			<%= tab_tag( :activities, 'Activities', @selected_tab ) %>
			<%= tab_tag( :interests, 'Interests', @selected_tab ) %>
			<%= tab_tag( :services, 'Services', @selected_tab ) %>
			<%= tab_tag( :relationships, 'Relationships', @selected_tab ) %>
			<%= tab_tag( :contact, 'Contact', @selected_tab ) %>
			<% if full_access_project_member?(@project) -%>
			<%= tab_tag :admin, 'Administrative', @selected_tab %>
			<% end %>
		</ul>
    <%#= link_to('Remove', '#', :class=>'memberRemove', :title=>'algo' )%>

	<%= render :partial => 'project_profile_edit', :locals => { :project => @project, :project_type=>:project } %>

  </div> <!-- END SECONDARY NAV -->
	<div id="media">
		<div id="carousel">
    
		<%= image_tag(@project.image_src, :id => "main-img", :alt => h(@project.name)) %>
		
		<% if full_access? and !full_access_project_member?(@project) -%>
			<%= button_to( "Join this Project", url_for( :action => 'join_project', :id => @project) ) %>
		<% end -%>
		
		<%= render :partial => '/common/image_carousel' %>

		<% if full_access_project_member?(@project) -%><h4>
			<%= link_to 'Change Picture', {:controller => 'projects', :action => 'edit_picture', :id => @project.id},  :remote => true, :class => 'ui_definition_dialog', :title=>'Change image' %>
			<%#= link_to 'Change Picture', url_for( :action => 'edit_picture', :id => @project, :inline=>true, :height=>300,:width=>900) + '&TB_iframe=true', :class=>:thickbox, :title=>'Change image' %></h4><% end -%>		
		<%= render :partial => '/common/relationships' %>
	  </div><!--END CAROUSEL-->	
	</div><!--END MEDIA-->
</div><!--END MAIN-->