<div id="main">
  <div id="main-content">
    <style>
      .listing {
        margin-bottom: 20px;
      }

      .listing td {
        background:#EFECE5 none repeat scroll 0% 0%;
        margin:10px 0pt;
        border-bottom:1px solid #E5E1D6;
        color:#3C3C3C;
        padding:6px 8px;
        min-width:4.5em;
      }

      .listing th {
        background:#DBD4C4 none repeat scroll 0% 0%;
        font-weight: bold;
        text-align: left;
        width:auto;
      }
    </style>

    <h2><%= h(@post.subject) %></h2>
    <table class="listing">
      <tr><th scope="row">Author</th><td><%= link_to entity_for_post(@post).name.s, url_for(entity_for_post(@post)) %></td></tr>
      <tr><th scope="row">Date</th><td><%= @post.created_at.strftime("%B %e, %Y") %></td></tr>
      <tr><th scope="row">Last updated</th><td><%= @post.updated_at.strftime("%B %e, %Y") %></td></tr>
      <tr><th scope="row">Description</th><td><p><%= rc @post.body.s %></p></td></tr>
      <tr><th scope="row">Contact Information</th><td><%= @post.response_email.s %></td></tr>
      <tr><th scope="row">Expires on</th><td><%= @post.expiration_date.strftime("%B %e, %Y") %></td></tr>
    </table>

    <div class="gallery-button"><span><%= link_to 'Return to List', posts_path %></span></div>
  </div> <!--END CONTENT-->
</div><!--END MAIN-->
