<script>
$(document).ready(function() {

	$("#update_button").click(function () { $("#popup_dialog").dialog("close"); $("#popup_dialog").dialog("destroy");});
	
});
</script>
<% @tool = tool 
@usage_scenario = usage_scenario
@authors = authors
%>
<h4><%= "Editing Usage Scenario for <em>#{h(@tool.name)}</em>".html_safe %></h4>
<%= error_messages_for :usage_scenario %>
 <%= form_for (:usage_scenario, :url => tool_usage_scenario_path(@tool, @usage_scenario), :html => { :method => :put }, :before => "tinyMCE.triggerSave();", :remote => true) do |f| %>
</p>
<%= render :partial => 'form', :locals => {:f => f, :default_author_id => nil} %> 
<p>
	<%=    submit_tag 'Update Usage Scenario',  :id => "update_button", :before => "tinyMCE.triggerSave(); unsetTextareaToTinyMCE('usage_scenario_content');" %>
	
 </p>
<% end %>
<p>
<%=  link_to 'Delete', tool_usage_scenario_path(@tool, @usage_scenario,:authenticity_token => form_authenticity_token),  :confirm => 'Are you sure?', :method => :delete, :onclick => "unsetTextareaToTinyMCE('usage_scenario_content');",  :remote => true %> 
</p>