<p>
	<%=   link_to '.', contract_tool_usage_scenario_path(tool,d), :class => 'descriptionminus_icon', :remote => true  %> 
	<% if !d.title.blank? %>  
	<%   if !d.authors.empty? %>
		   <b class='title'><%= d.title %></b>
		   <span class='by'><%= ' by ' %></span>
	       <span class='content_by'><%= "#{ join_with_and(d.authors.collect{|a| a.name})}" %></span>
	<%   else %>
	       <b class='title'><%= d.title %></b>
	<%   end %>
	<% else %>  
	<%   if !d.authors.empty? %>
	       <b class='title'>Usage Scenario</b>
           <span class='by'><%= ' by ' %></span>
	       <span class='content_by'><%= "#{ join_with_and(d.authors.collect{|a| a.name})}" %></span>
	<%   end %>
	<% end %> 
	<span class='last_updated'>(<%= 'last updated '"#{h(d.updated_at.to_date.to_formatted_s(:long))}" %>)</span>
</p>
<%  if !d.scenario_type.nil? %>
	<p>
		<b><%= 'A '"#{d.scenario_type.title}"' Usage Scenario'  %></b>
	</p>
<%  end %>
<p>
	<%= d.content.html_safe %>
</p>

    <div class='padded'><b>Usage Scenario Sources</b>
	<em>please note that in usage scenario sources any changes are immediately submitted, while with other fields, no changes are committed until you click on the overall UPDATE  button</em></div>
    <div id='usagescenariosources_div' class='padded'>

    <%=   render :partial => 'sources/index', :locals => {:resource => d} %>

    </div>


  <% if full_access? -%>
	<p>
  <%= link_to 'edit usage scenario', edit_tool_usage_scenario_path(tool,d), :class => 'ui_definition_dialog', :onclick => "unsetTextareaToTinyMCE('usage_scenario_content');", :remote => true  %>
	</p>
  <% end -%>
