<p>
  <b>Type of Usage Scenario</b><br />
<%= f.select(:scenario_type_id, @scenario_types.collect {|l| [ h(l.title), l.id ] }, { :include_blank => false }) %>
</p>
<p>
  <b>Usage Scenario Title</b><br />
  <em>Use title case for capitalization (e.g. An Exciting...)</em>
<br/>
  <%= f.text_field(:title, :size => 65) %>
</p>
<p> 
  <b><%= 'Usage Scenario' %></b><br />
<%= f.text_area :content, :rows => 16, :cols => 65, :class => 'mceEditor' %>
</p>
<%= f.hidden_field :tool_id %>
<script type="text/javascript">
 //<![CDATA[
   setTextareaToTinyMCE('usage_scenario_content');
 //]]>
 </script>
<p>
  <%= link_to 'Add new Author', add_author_tool_usage_scenarios_path(@tool), :position => 'before', :remote => true, :title=>'Add new Author' %>
</p>
<div id="usageauthors_div">
<%  for author in @usage_scenario.authors %>
<%=    render :partial => 'usage_scenarios/authors_selector', :locals => {:selected => author.id} %>
<%   end %>
</div>    
<div id="usageupdate_div"/>