<% tool.usage_scenarios.order('id').each do |r| %>
	<div id="<%= "#{r.id}_usagediv" %>">
<%  if usage_scenario.nil? 		
      if r.is_primary? %>
		<%=   render :partial => 'usage_scenarios/expanded', :locals => {:tool => tool, :d => r} %>
<%	  else %>
		<%=   render :partial => 'usage_scenarios/contracted', :locals => {:tool => tool, :d => r} %>
<%    end %>
<%  else %>
<%    if r == usage_scenario %>
<%=     render :partial => 'usage_scenarios/expanded', :locals => {:tool => tool, :d => r} %>
<%	  else %>
<%=     render :partial => 'usage_scenarios/contracted', :locals => {:tool => tool, :d => r} %>
<%    end %>
<%  end %>
    </div>
<% end %>
<% if full_access? -%>
  <p>
  <%= link_to 'Add usage scenario', new_tool_usage_scenario_path(tool), :class => 'ui_definition_dialog', :onclick => "unsetTextareaToTinyMCE('usage_scenario_content');",  :remote => true, :title=>'Add usage scenario' %>
  </p>
<% end -%>