<% tool.usage_scenarios.find(:all, :order => 'id').each do |r| %>
	<div id="<%= "#{r.id}_usagediv" %>">
<%  if usage_scenario.nil? 		
      if r.is_primary? %>
		<%=   render :partial => 'usage_scenarios/expanded', :locals => {:tool => tool, :d => r} %>
<%	  else %>
		<%=   render :partial => 'usage_scenarios/contracted', :locals => {:tool => tool, :d => r} %>
<%    end %>
<%  else %>
<%    if r == usage_scenario %>
<%=     render :partial => 'usage_scenarios/expanded', :locals => {:tool => tool, :d => r} %>
<%	  else %>
<%=     render :partial => 'usage_scenarios/contracted', :locals => {:tool => tool, :d => r} %>
<%    end %>
<%  end %>
    </div>
<% end %>
<% if full_access? -%>
  <p>
  <%=  link_to_remote 'Add usage scenario', :url => new_tool_usage_scenario_path(tool), :update => 'usage_scenarios_div', :method => 'get', :onclick => "unsetTextareaToTinyMCE('usage_scenario_content');" %>
  </p>
<% end -%>