<script>
$(document).ready(function() {
	unsetTextareaToTinyMCE('usage_scenario_content');
	
	$("#update_button").click(function () { $("#popup_dialog").dialog("close"); $("#popup_dialog").dialog("destroy");});
	
});
</script>
<% @tool = tool 
@usage_scenario = usage_scenario
@authors = authors
%>
<h3><%= ('Usage Scenario for '"<em>#{h(@tool.name)}</em>".html_safe) %></h3>
<%= error_messages_for :usage_scenario %>
  <%=  form_for(:usage_scenario, :url => tool_usage_scenarios_path(@tool), :before => "tinyMCE.triggerSave();", :remote => true) do |f| %>

<%=  render :partial => 'usage_scenarios/form', :locals => {:f => f} %>

<p>
<%=    submit_tag 'Create Usage Scenario',  :id => "update_button", :before => "tinyMCE.triggerSave(); unsetTextareaToTinyMCE('usage_scenario_content');" %>
</p>
<% end %>
<p>
</p>
