<script type="text/javascript"> 
	var TARGET_PROFILE_BASE_URL = '<%= organization_path(@organization) %>';
		
	// init this page
	jQuery(document).ready(function() {
		var tabView = new YAHOO.widget.TabView('secondary-nav');
		tabView.addListener( 'click', updateShowProfileURL );	
	});
  function successfullyUpdatedPicture(){
    $('<p class="image_loading_text">LOADING NEW IMAGE...</p>').insertAfter('#main-img');
    // Fade out previous image
    $('#main-img').fadeOut();
    // Grab the image url from the person's JSON and put it in the carousel, fading in
    $.getJSON('<%= organization_path(@organization) %>.json', function(data){
      $('.image_loading_text').hide();
      $('#main-img').attr('src', data['image']);
      $('#main-img').fadeIn();
    });
  };
</script>

<script>
	$('.ui_definition_dialog').live('click', function() {
	
  	$("#popup_dialog").html("<p></p>")
	$("#popup_dialog" ).dialog({ modal: true, width: 650});
});
</script>
<%  if APPLICATION_DOMAIN != 'shanti.virginia.edu' %>
<script>
  $(document).ready(function() {
	$("#popup_dialog").dialog( "destroy" );
	$("#popup_dialog").dialog({ autoOpen: false })
	$("#popup_dialog").dialog("close");	
  });

</script>
<% end %>
	
<div id="popup_dialog">
</div>


<div id="main">
	<div id="secondary-nav" class="yui-navset">
		<ul class="yui-nav">
			<%= tab_tag( :profile, 'Profile', @selected_tab ) %>
			<%= tab_tag( :activities, 'Activities', @selected_tab ) %>
			<%= tab_tag( :interests, 'Interests', @selected_tab ) %>
			<%= tab_tag( :services, 'Services', @selected_tab ) %>
			<%= tab_tag( :relationships, 'Relationships', @selected_tab ) %>
			<%= tab_tag( :contact, 'Contact', @selected_tab ) %>
			<% if full_access_organization_member?(@organization) -%>
			<%= tab_tag :admin, 'Administrative', @selected_tab %>
			<% end %>
		</ul>
	  <%= render :partial => '/projects/project_profile_edit', :locals => { :project => @organization, :project_type=>:organization } %>		
	</div> <!-- END SECONDARY NAV -->
	
	<div id="media">
		<div id="carousel">
		
      <%= image_tag(@organization.image_src, :id => "main-img", :alt => h(@organization.name)) %> 
		
		<% if full_access? and !full_access_organization_member?(@organization) -%>
			<%= button_to( "Join this Organization", url_for( :action => 'join_project', :id => @organization) ) %>
		<% end -%>
		
		<%= render :partial => '/common/image_carousel' %>
		<% if @allowed_to_edit -%><h4>
			<%= link_to 'Change Picture', {:controller => 'organizations', :action => 'edit_picture', :id => @organization.id},  :remote => true, :class => 'ui_definition_dialog', :title=>'Change image' %>
			<%#= link_to 'Change Picture', url_for( :action => 'edit_picture', :id => @organization, :inline=>true, :height=>300,:width=>900) + '&TB_iframe=true', :class=>:thickbox, :title=>'Change image' %></h4><% end -%>		
		<%= render :partial => '/common/relationships' %>
	  </div><!--END CAROUSEL-->	
	</div><!--END MEDIA-->
</div><!--END MAIN-->