<script>
$(document).ready(function() {
	$("#update_button").click(function () { $("#popup_dialog").dialog("close"); $("#popup_dialog").dialog("destroy");});
});
</script>
<% @tool = tool 
@review = review
@authors = authors
%>
<h3><%= "Editing Review for <em>#{h(@tool.name)}</em>".html_safe %></h3>
<%= error_messages_for :review %>
<%= form_for (:review, :url => tool_review_path(@tool, @review), :html => { :method => :put }, :before => "tinyMCE.triggerSave();", :remote => true) do |f| %>
</p>
<%= render :partial => 'form', :locals => {:f => f, :default_author_id => nil} %> 
<p>
	<%=    submit_tag 'Update Review',  :id => "update_button", :before => "tinyMCE.triggerSave(); unsetTextareaToTinyMCE('review_content');" %>
 </p>
<% end %>
<p>
<%=  link_to 'Delete', tool_review_path(@tool, @review,:authenticity_token => form_authenticity_token),  :confirm => 'Are you sure?', :method => :delete, :onclick => "unsetTextareaToTinyMCE('review_content');",  :remote => true %> 
</p>