<script>
$(document).ready(function() {
	unsetTextareaToTinyMCE('review_content');
	
	$("#update_button").click(function () { $("#popup_dialog").dialog("close"); $("#popup_dialog").dialog("destroy");});
	
});
</script>
<% @tool = tool 
@review = review
@authors = authors
%>
<h3><%= ('Review for '"<em>#{h(@tool.name)}</em>".html_safe) %></h3>
<%= error_messages_for :review %>
  <%=  form_for(:review, :url => tool_reviews_path(@tool), :before => "tinyMCE.triggerSave();", :remote => true) do |f| %>

<%=  render :partial => 'reviews/form', :locals => {:f => f} %>

<p>
<%=    submit_tag 'Create Review',  :id => "update_button", :before => "tinyMCE.triggerSave(); unsetTextareaToTinyMCE('review_content');" %>
</p>
<% end %>
<p>
</p>
