<script>
jQuery(function(){
  var $=jQuery;
  
  //var join_url="<%= url_for(:action=>'edit_picture',:id=>nil) %>";
  
  var tbRemove = self.parent.tb_remove;
  var sucessfullyUpdated = self.parent.successfullyUpdatedPicture;
  
  $('#edit_picture_form').ajaxForm({
    beforeSubmit : function(a,f,o){
      
    },
    success : function(data){
      tbRemove();
      sucessfullyUpdated();
    }
  });
  
  //$('#edit_picture_form input[type="submit"]').click(function(){
  //  $('#edit_picture_form').submit(function(data){
  //    self.parent.tb_remove();
  //    self.parent.successfullyUpdatedPicture();
  //  });
  //});
})
</script>

<%= form_for(entity, :html => { :multipart => true, :id=>'edit_picture_form' }) do |f| -%>
	<label for="image">Upload Image:</label>
	<%= f.file_field :uploaded_data %>
	<p><em>Please try to use a picture that is generally square shaped. </em><br/><em>It doesn't have to be a square, but please avoid using pictures that are extremely long on the side or height.</em></p>
		<div class="gallery-button update">
			
			  <%= f.submit "Update" %>
			  <%= link_to_function "Cancel", "jQuery(function(){ self.parent.tb_remove(); })" %>
			
		</div>
<% end -%>
