<%
empty_message ||= ""
submit_message ||= "Submit" 
exclude_list ||= []
form_url ||= nil 
remove_action ||= nil
allow_remove_self = false
remove_link_proc||=nil
-%>

<% unless entity_list.empty? -%>
	<%= form_tag(form_url) if form_url %>
	<table class="entity-list-table">
		<% for entity in entity_list -%>
  		<tr>
    		<% if form_url -%><td><%= check_box_tag "entity[#{entity.id}]" %></td><% end -%>
			<td><%#= if entity.image 
			link_to image_tag(entity.image.public_filename(:thumb)),  entity 
			end %>
			<%= link_to image_tag(entity.thumb_src), entity  %>
			</td>
   			<td><%= link_to entity.name.s, entity %></td>
			<% if remove_action || ( allow_remove_self && entity.id == current_user.person.id ) -%>
  				<td><%= button_to("Remove", url_for( :action => remove_action, :id => parent_entity, :entity => entity.id ), 
							    :confirm => "Are you sure you wish to remove #{entity.name}?" ) %></td>
			<% end -%>
			<% if remove_link_proc -%>
			  <td><%= remove_link_proc.call(entity) %></td>
			<% end -%>
 		</tr>
		<% end -%>
	</table>
	<p class="button-to"><%= submit_tag(submit_message, :onclick => "self.parent.tb_remove();") if form_url %></p>
	<% if form_url -%></form><% end -%>
<% else -%>
	<% if empty_message -%><br/><p><%= empty_message %></p><% end -%>
<% end -%>