<% if logged_in? -%>
	<% if current_user.authenticated_with_netbadge? -%>
		<p>Logged in via <a href="https://netbadge.virginia.edu/">UVA NetBadge</a> as <%=h current_user.login %><% if admin? -%> | <%= link_to 'Admin', admin_path %><% end -%>
	<% else -%>
		<p>Logged in as <%=h current_user.login %> | <% if admin? -%><%= link_to 'Admin', admin_path %> | <% end -%>  <% if admin? -%><%= link_to 'Black List', blacklists_path %> | <% end -%><%= link_to 'Logout', logout_path %></p>
	<% end -%>
<% else -%>
	<p>Click <%= link_to 'here', login_page_path %> to log in.</p>
<% end -%>