<h1>New image</h1>

<%= error_messages_for :image %>

<%= form_for(@image, :html => { :multipart => true } ) do |f| %>
  <p>
    <label for="image">Upload Image:</label>
    <%= f.file_field :uploaded_data %>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', images_path %>
